# OS / IDE
.DS_Store
.idea/
.vscode/
*.iml

# Python
__pycache__/
.venv/
venv/

# Java / Maven
target/
producer-service/target/
core-spring-service/target/
infra/cdk/target/
cdk.out/

# Node / React
ui/node_modules/
ui/dist/

# Logs and local data
logs/
*.log
*.mv.db
core-spring-service/logs/
core-spring-service/data/

# Env
core-spring-service/.env
