services:
  backend:
    build:
      context: ./core-spring-service
    container_name: backend
    env_file:
      - ./.env
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: dev
      DB_HOST: db
      DB_USER: core_user
      DB_PASS: core_pass
      DB_NAME: core
#    depends_on:
#      - db
    networks:
      - app-net

  worker:
    build:
      context: ./deli
    container_name: worker
    ports:
      - "8081:8081"
    environment:
      DB_HOST: db
      DB_USER: core_user
      DB_PASS: core_pass
      DB_NAME: core
#    depends_on:
#      - db
    networks:
      - app-net

networks:
  app-net:

volumes:
  postgres_data:
